body {
  background-color: white;
}

.main {
  background-color: white;
  font-family: roboto, sans-serif;
}

h1, h2, h3, h4 {
  font-family: roboto, sans-serif;
}

h2 {
  font-style: italic;
  font-weight: 600;
  margin-bottom:20px;
}

p, ul {
  line-height: 2;
  font-family: roboto, sans-serif;
  font-weight: 200;
}

.demo {
  width: 100%;
  align-items: center;
  margin: 5% 0 0 10%;
}

ul.main li {
  list-style-type: none;
  text-align: left;
}